
.left-menu-matrix-wrapper{
width: 50px;
}

.cont {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.navbarar {
background: #414149;
position: absolute;
left: 0;
width: 100%;
height: 100%;
-webkit-box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.15);
box-shadow: 1px 0 1px 0 rgba(0, 0, 0, 0.15);
border: none;
}


/* Menu Styles */
/*display table cell pozycjonuje wew elementy w centrum  */
.valign {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}

/* łamie słowo*/
.vertical {
  word-wrap: break-word;
  width: 10px;
  display: inline-block;
  line-height: 18px;
}

.navbarar {
  /* background-color: #444;*/
  background: #414149;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
  box-shadow: 1px 0 1px 0 rgba(0,0,0,.15);
  border: none;
}

/* gorny biały kwadrat*/
.navbarar a.menu {
display: block;
margin: 0;
padding-left: 10px;
width: 100%;
height: 10%;
/* background-color: #ccc;*/
background: #FFFFFF;
font-size: 23px;
line-height: 50px;
color: black;
cursor: pointer;
}
.navbarar a.menu :hover{
color: #CCCCCC;
}

.navbarar a.link {
position: relative;
display: block;
margin: 0;
width: 100%;
height: 45%;
background: #414149;
/* background-color: #444;*/
   transition: background-color .3s ease;
}

.navbarar a.link span.active,
.navbarar a.link span.hover {     
  display: table; /* ważne, display table buduje strukturę nav*/
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: 0% 50% 0px;
  -webkit-transform-origin: 0% 50% 0px;
  transition: .2s; 
  -webkit-transition: .2s;  
  color: #CCCCCC;
}


.navbarar a.link span.active {
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  left: 0;
 /*  background-color: #444;*/
   background: #414149;

}


.navbarar a.link:hover span.active {
/* background-color: #999;*/
transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -50, 0, 0, 1);
-webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -50, 0, 0, 1);
}
.navbarar a.link span.active .vertical { 
/* color: #aaa;*/
}
.navbarar a.link span.hover {
transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
-webkit-transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
left: 100%;
/* background-color: #ccc;*/
background: #FFFFFF;


}
.navbarar a.link:hover span.hover {
transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);
-webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -50, 0, 0, 1);
}



