<div class="rightmenu"><!--indicators -->
			<ul class="rightmenuul">
				<li class="indicatorli small"><a href="#first-section">
						<div class="indicator" data-indicator="1" ></div>
					</a></li>
				<li class="indicatorli small"><a href="#second-section">
						<div class="indicator" data-indicator="2"></div>
					</a></li>
				<li class="indicatorli small"><a href="#third-section">
						<div class="indicator" data-indicator="3"></div>
					</a></li>
				<li class="indicatorli small"><a href="#">
						<div class="indicator" data-indicator="4"></div>
					</a></li>
			</ul>
	</div><!--koniec indicators -->
	
	
