<div class="section container-fluid" id="third-section">	
    <div class="slide container-fluid"><!-- początek slide 1 --> 
    	<div class="matrix-menu-column"><!-- menu-boczne-kolumna --> 
    			<%= render partial: 'boczny_pasek' %>
    </div><!-- koniec menu boczne -->
    <!-- główny row --> 
     <div class="row main-row">
          <div class="third-main-content">	
            <div class="third-left"></div>
            <div class="third-middle">
              <div class="third-top-title">top-title</div>
              <div class="third-test">test</div>
              <div class="third-bottom-title">bottom title</div>
            
            </div>
            <div class="third-right"></div>
          </div>
      </div>
    <!-- koniec główny row -->
    </div><!-- koniec slide 1 --> 
    <div class="slide container-fluid"> <!-- generuje .fp-slidesContainer dodawany przez wtyczke fullpage --> 
    </div>	
    
    
</div><!-- koniec main section --> 
